@import "../../variables";
@import "../../mixins";

#contactForm {
  @include flex-center(column);
  margin-top: $margin-nav !important;
  margin-bottom: $margin-footer !important;

  p {
    text-align: center !important;
    color: $black !important;
    margin: 15px auto 25px auto;
  }
}

@media (min-width: 1200px) {
  form {
    width: 30vw !important;
  }
}

@media (max-width: 600px) {
  #contactForm {
    margin-bottom: $margin-footer-responsive !important;
  }
}
