<section id="presentation" itemscope itemtype="https://schema.org/Person">
    <header>
      <figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <img src="./img/photoMarvin/Marvin-Morin.png" alt="Photo de Marvin Morin" itemprop="url">
        <meta itemprop="contentUrl" content="https://votre-site.com/img/photoMarvin/Marvin-Morin.png">
      </figure>
      <app-reseaux-sociaux></app-reseaux-sociaux>
    </header>
  
    <article itemprop="description">
        <p>
          Je m'appelle <span itemprop="name">Marvin Morin</span>, et je suis un <span itemprop="jobTitle">développeur web certifié Full-Stack</span> passionné, âgé de <span itemprop="birthDate">26 ans</span>. Ma spécialisation inclut la création de <span itemprop="specialty">sites internet</span>, en particulier <span itemprop="knowsAbout">des sites vitrines et des solutions e-commerce</span>. Mon expertise s'étend aussi bien au <span itemprop="programmingLanguage">développement en code natif (HTML, CSS, SCSS, JavaScript, TypeScript, React et Angular)</span> qu'à l'intégration de <span itemprop="contentLocation">WordPress</span> pour des solutions e-commerce robustes.
        </p>
        <p>
          Mon approche est axée sur la <span itemprop="approach">compréhension des besoins spécifiques de chaque client</span>. Cela me permet de concevoir des <span itemprop="serviceType">expériences en ligne</span> engageantes, qui répondent aux objectifs commerciaux de chaque projet. Grâce à mon expérience et à ma <span itemprop="competency">maîtrise des meilleures pratiques de développement</span>, je fournis des solutions sur mesure, tout en intégrant des éléments de <span itemprop="knowsAbout">SEO et de web sémantique</span> pour améliorer la visibilité en ligne.
        </p>
        <p>
          Depuis <span itemprop="foundingDate">2017</span>, je me suis formé de manière autonome en <span itemprop="discipline">développement web</span>. J'ai débuté par <span itemprop="learningResourceType">HTML, CSS, et JavaScript</span>. Entre <span itemprop="datePublished">2022, 2023 et 2024</span>, j'ai suivi une formation approfondie sur <span itemprop="knows">HTML, CSS, SCSS, TypeScript, React, Angular, Node.js</span>, qui m'a permis de m’orienter vers le <span itemprop="field">web sémantique</span>.
        </p>
        <p>
          Vous pouvez consulter mon profil <a href="https://www.linkedin.com/in/marvin-morin-5b15291b3/" target="_blank" itemprop="sameAs">LinkedIn</a> pour plus de détails sur mon parcours professionnel et mes compétences. Je suis toujours prêt à relever de nouveaux défis et à collaborer sur des projets innovants.
        </p>
      </article>
  
    <!-- Données structurées JSON-LD -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Marvin Morin",
        "jobTitle": "Développeur Web",
        "image": {
            "@type": "ImageObject",
            "url": "https://votre-site.com/img/photoMarvin/Marvin-Morin.png",
            "contentUrl": "https://votre-site.com/img/photoMarvin/Marvin-Morin.png"
        },
        "url": "https://votre-site.com",
        "sameAs": [
            "https://www.linkedin.com/in/marvin-morin-5b15291b3/"
        ],
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Votre Ville",
            "addressRegion": "Votre Région",
            "addressCountry": "Votre Pays"
        },
        "knowsAbout": ["HTML", "CSS", "JavaScript", "SCSS", "TypeScript", "React", "Web sémantique"]
    }
    </script>
  </section>
  

  <!--
  
  <section id="presentation" itemscope itemtype="https://schema.org/Person">
    <header #image>
        <figure>
            <img src="./img/photoMarvin/Marvin-Morin.png" alt="Photo de Marvin Morin" itemprop="image">
        </figure>

        <app-reseaux-sociaux></app-reseaux-sociaux>
    </header>


    <article itemprop="description">
        <p #p>
            Je m'appelle <span itemprop="name">Marvin Morin</span>, et je suis un 
            <span itemprop="jobTitle">développeur web</span> passionné âgé de 26 ans, récemment certifié en développement 
            web Full-Stack. Ma spécialisation réside dans la création de sites internet, où je conçois des sites vitrines 
            en code natif ainsi que des solutions plus complexes, notamment des sites e-commerce, en utilisant le CMS WordPress.
        </p>
        <p #p>
            Fort de mon expertise technique et animé par une réelle passion pour le développement web, je m'engage à offrir 
            des solutions personnalisées qui répondent aux besoins et aux objectifs commerciaux de chaque client. Mon approche 
            est orientée vers la compréhension des enjeux spécifiques de chaque projet, afin de créer des expériences en ligne 
            qui marquent une différence.
        </p>
        <p #p>
            Depuis 2017, j'ai suivi un parcours autodidacte en développement web, débutant sur la plateforme 
            <span itemprop="EducationalOrganization">Udemy</span>. Ce chemin m'a permis d'acquérir des compétences solides en HTML, CSS, 
            et JavaScript. Mon apprentissage s'est intensifié entre 2022 et 2023, où j'ai suivi une formation professionnelle 
            approfondie qui a élargi mon expertise aux langages SCSS et Typescript, ainsi qu'au framework React. Cette période 
            d'apprentissage a également été l'occasion d'explorer le <span itemprop="knowsAbout">web sémantique</span>, un 
            domaine qui m'intéresse particulièrement.
        </p>
        <p #p>
            Si vous souhaitez en savoir plus sur mon parcours ou discuter d'éventuelles collaborations, n'hésitez pas à consulter 
            mon profil <a href="https://www.linkedin.com/in/marvin-morin-5b15291b3/" target="_blank" itemprop="sameAs">LinkedIn</a>. 
            Je suis toujours enthousiaste à l'idée de relever de nouveaux défis et de créer des solutions innovantes qui apportent 
            une réelle valeur ajoutée.
        </p>
    </article>


    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Marvin Morin",
        "jobTitle": "Développeur Web",
        "image": "https://votre-site.com/img/photoMarvin/Marvin-Morin.png",
        "url": "https://votre-site.com",
        "sameAs": [
            "https://www.linkedin.com/in/marvin-morin-5b15291b3/"
        ],
        "alumniOf": {
            "@type": "EducationalOrganization",
            "name": "Udemy"
        },
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Votre Ville",
            "addressRegion": "Votre Région",
            "addressCountry": "Votre Pays"
        },
        "knowsAbout": ["HTML", "CSS", "JavaScript", "SCSS", "TypeScript", "React", "Web sémantique"]
    }
    </script>
</section>

-->