@import '../../variables';
@import "../../_mixins.scss";

#presentation {

    width: 80%;
    margin: $margin-nav auto $margin-footer auto;
    display: flex;
    @include flex-center(column);
    line-height: 2rem;

    img {
        width: 250px;
        height: 250px;
        border: $border-1px-solid-black;
        border-radius: $border-radius-img;
        transition: all .2s ease-in;

        &:hover {
            transform: rotate(180deg);
            transition: all .4s ease-out;
        }
    }

    figure {
        @include flex-center(row)
    }


    p {
        color: $black;
    }
}

@media (max-width: 600px) {
    #presentation {
        margin: $margin-nav auto $margin-footer-responsive auto;
    }

    p {
        text-align: justify;
    }
}