@import '../../variables';
@import "../../_mixins.scss";

#presentation {

    width: 80%;
    margin: $margin-nav auto $margin-footer auto;
    display: flex;
    @include flex-center(column);
    line-height: 2rem;

    img {
        width: 150px;
        height: 150px;
        border: $border-1px-solid-black;
        border-radius: $border-radius-img;
        margin-top: 50px;
    }

    figure {
        @include flex-center(row)
    }


    p {
        color: $black;
    }
}

@media (max-width: 600px) {
    #presentation {
        margin: $margin-nav auto $margin-footer-responsive auto;
    }

    p {
        text-align: justify;
    }
}