<article class="legal-notice" itemscope itemtype="https://schema.org/LegalService">
    <header>
        <h1 itemprop="name">Mentions légales</h1>
    </header>

    <section>
        <h2>Informations générales</h2>
        <dl>
            <dt itemprop="legalName">Raison sociale :</dt>
            <dd>{{ nameCompany }}</dd>
            <dt>Statut juridique :</dt>
            <dd>Micro-entreprise</dd>
            <dt itemprop="siretNumber">Numéro de SIRET :</dt>
            <dd>93479024700019</dd>
            <dt itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">Adresse :</dt>
            <dd><span itemprop="streetAddress">2 rue Alain Legac</span>,
                <span itemprop="addressLocality">Dinard</span>,
                <span itemprop="postalCode">35800</span>,
                <span itemprop="addressCountry">FR</span>
            </dd>
            <dt>Numéro de téléphone :</dt>
            <dd><span itemprop="telephone">06-12-98-09-32</span></dd>
            <dt>Adresse e-mail :</dt>
            <dd><a href="mailto:marvin.malouin@gmail.com" itemprop="email">{{ mail }}</a></dd>
        </dl>
    </section>

    <section>
        <h2>Directeur de la publication</h2>
        <dl>
            <dt itemprop="publisher">Nom :</dt>
            <dd>Marvin MORIN</dd>
            <dt>E-mail :</dt>
            <dd><a href="mailto:marvin.malouin@gmail.com" itemprop="email">{{ mail }}</a></dd>
        </dl>
    </section>

    <section>
        <h2>Hébergement</h2>
        <dl>
            <dt>Hébergeur :</dt>
            <dd itemprop="provider">O2switch</dd>
            <dt>Adresse :</dt>
            <dd itemprop="address">Chemin des Pardiaux, 63000 Clermont-Ferrand</dd>
            <dt>Numéro de téléphone :</dt>
            <dd itemprop="telephone">04 44 44 60 40</dd>
        </dl>
    </section>

    <section>
        <h2>Propriété intellectuelle</h2>
        <p>
            Tous les contenus présents sur ce site web, incluant les textes, images, logos et vidéos,
            sont protégés par le droit d'auteur et sont la propriété exclusive de {{ nameCompany }} ou de leurs
            propriétaires respectifs.
            Toute reproduction, distribution, modification ou utilisation non autorisée de ces contenus est strictement
            interdite sans l'accord préalable de l'auteur.
        </p>
    </section>

    <section>
        <h2>Protection des données personnelles</h2>
        <p>
            En tant qu’entrepreneur en développement web, je suis attentif à la protection de vos données personnelles.
            Pour plus de détails sur la collecte, l’utilisation et la protection de vos informations, veuillez consulter
            notre
            <a target="_blank" href="/politique-de-confidentalite">Politique de confidentialité</a>.
        </p>
    </section>

    <section>
        <h2>Cookies</h2>
        <p>Ce site n’utilise pas de cookies pour collecter des données personnelles.</p>
    </section>

    <section>
        <h2>Liens externes</h2>
        <p>
            Ce site peut contenir des liens vers des sites externes qui sont hors de notre contrôle.
            Nous déclinons toute responsabilité concernant le contenu ou les pratiques de confidentialité de ces sites.
        </p>
    </section>

    <section>
        <h2>Limitation de responsabilité</h2>
        <p>
            Nous nous efforçons de fournir des informations exactes et mises à jour sur ce site. Cependant, nous ne
            pouvons garantir
            l'exactitude, l'exhaustivité ou la pertinence des informations présentées. Par conséquent, nous déclinons
            toute responsabilité
            en cas de dommages directs ou indirects résultant de l’utilisation du site.
        </p>
    </section>

    <section>
        <h2>Conditions générales de vente (CGV)</h2>
        <p>
            Les services de développement web fournis par {{ nameCompany }} sont soumis aux présentes <a target="_blank" href="/conditions-generales-de-vente">Conditions
            Générales de Vente</a>.
            Elles définissent les obligations et les responsabilités de chaque partie pour la réalisation des projets.
            Pour plus de détails,
            veuillez consulter nos <a href="/conditions-generales-de-vente">CGV</a>.
        </p>
    </section>

    <section>
        <h2>Droit applicable et juridiction compétente</h2>
        <p>
            Les présentes <a target="_blank" href="/mentions-legales">mentions légales</a> sont régies par le droit français. En cas de litige, la juridiction
            compétente sera celle de votre tribunal de résidence.
        </p>
    </section>

    <section>
        <h2>Informations de contact :</h2>
        <dl>
            <dt>Téléphone :</dt>
            <dd><span itemprop="telephone">06-12-98-09-32</span></dd>
            <dt>E-mail :</dt>
            <dd><a href="mailto:marvin.malouin@gmail.com" itemprop="email">{{ mail }}</a></dd>
            <dt>Réseaux sociaux :</dt>
            <dd>
                <a target="_blank" href="https://www.linkedin.com/in/marvin-morin-5b15291b3/"
                    itemprop="sameAs">LinkedIn</a>,
                <a target="_blank" href="https://www.facebook.com/profile.php?id=61566820179031"
                    itemprop="sameAs">Facebook</a>,
                <a target="_blank" href="https://www.instagram.com/2mweb_/?next=%2Fle_m_2m%2F"
                    itemprop="sameAs">Instagram</a>
            </dd>
        </dl>
    </section>
</article>