<footer itemscope itemtype="https://schema.org/WPFooter">
  <div class="liensFooter">
    <app-liens></app-liens>
  </div>

  <hr />

  <a href="/" class="no-link-after"><img src="/img/logo/logo2MWebAvecFond.png" alt="" /></a>
  <hr />

  <div class="liensFooter">
    <a href="/politique-de-remboursement">Politique de Remboursement</a>
    <a href="/politique-de-confidentalite">Politique de confidentalité</a>
    <a href="/mentions-legales" itemprop="url">Mentions Légales</a>
    <a href="/conditions-generales-de-vente" itemprop="url">CGV</a>
  </div>

  <p>
    &copy; <span itemprop="copyrightYear">2024 </span>
    <span itemprop="copyrightHolder">Marvin</span>. Tous droits réservés.
    <br><br>
    <a target="_blank" href="https://www.societe.com/societe/monsieur-marvin-morin-934790247.html">Siret: 934 790
      247</a>
    <app-reseaux-sociaux></app-reseaux-sociaux>
  </p>
</footer>