<footer itemscope itemtype="https://schema.org/WPFooter">
  <div class="liensFooter">
    <a href="/prestations" itemprop="url"><span itemprop="name">Prestation</span></a>
    <a href="/A-propos" itemprop="url"><span itemprop="name">À propos</span></a>
    <a href="/galerie" itemprop="url"><span itemprop="name">Galerie</span></a>
    <a href="/prestations#devis" itemprop="url"><span itemprop="name">Devis</span></a>
    <a href="/contact" itemprop="url"><span itemprop="name">Contact</span></a>
    <a href="https://marvin.fronthub.fr/" itemprop="url">
      <span itemprop="name">Portfolio</span></a>
  </div>

  <hr />

  <a href="/" id="image"><img src="/img/logo/logo2MWebAvecFond.png" alt="" /></a>

  <hr />

  <div class="liensFooter">
    <a href="/politique-de-remboursement">Politique de Remboursement</a>
    <a href="/politique-de-confidentalite">Politique de confidentalité</a>
    <a href="/mentions-legales" itemprop="url">Mentions Légales</a>
    <a href="/conditions-generales-de-vente" itemprop="url">CGV</a>
  </div>

  <p>
    &copy; <span itemprop="copyrightYear">2024 </span>
    <span itemprop="copyrightHolder">Marvin</span>. Tous droits réservés.
    <app-reseaux-sociaux></app-reseaux-sociaux>
  </p>
</footer>