@import "../../variables";
@import "../../mixins";

footer {
  color: $black;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; // Ajoutez cette ligne pour centrer le footer horizontalement
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.7fr 1px auto 1px 1fr;
  align-items: center;
  gap: 20px;
  font-size: 13px;


  .liensFooter {
    @include flex-center(column);
    /* Centre les éléments enfants horizontalement */
    margin: auto;
    gap: $gap-link-footer;
    font-size: 14px;
  }

  img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    border-radius: $border-radius-img;
    /* Ajoute de l'espace autour de l'image */
    grid-column: 3;
    /* Assure que l'image se trouve dans la colonne centrale */
  }

  p {
    /* Occupe toute la largeur disponible */
    grid-column: 1 / -1;
    /* Occupe toutes les colonnes */
    background-color: $background-nav-footer;
    margin-bottom: 0;
    padding: 15px 0;
    color: $white;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1px auto 1px 1fr;
  gap: 20px;
  font-size: 13px;

  @media (max-width: 900px) {
    grid-template-columns: 0.7fr 1px auto 1px 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}


a {
  color: $black;
  padding: 0 5px;
  margin: 3px 0;
}

hr {
  width: 1px;
  height: 100px;
}

@media (max-width: 600px) {
  footer {
    grid-template-columns: 1fr !important;
    /* En mode mobile, passe en colonne unique */
    text-align: center;
    transform: translateX(0);
  }

  .liensFooter {
    width: 100%;
    /* Fait occuper toute la largeur */
    align-items: center;
    justify-content: center;
    /* Centre les liens dans la colonne */
    margin-bottom: 10px;
    /* Espace en bas */
    grid-column: 1;
  }

  hr {
    height: 1px;
    width: $width-hr;
  }

  img {
    width: 150px !important;
    /* Ajuste la taille de l'image pour mobile */
    height: 150px !important;
    /* Ajuste la taille de l'image pour mobile */
    grid-column: 1 !important;
  }

  p {
    width: 100% !important;
  }
}

@media (max-width: 900px) {
  .lienImg img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 670px) {
  .lienImg img {
    width: 70px;
    height: 70px;
  }
}