<div class="layout">

  <!-- Overlay de chargement -->
  <div class="loadingDiv" id="loading">
    <img src="./gif/Ellipsis@1x-1.3s-200px-200px.gif" alt="Chargement..." />
  </div>

  <div></div>

  <nav itemscope itemtype="https://schema.org/SiteNavigationElement">
    <a (click)="setActiveLink('')" [class.active]="activeLink === ''" itemprop="url" class="no-link-after">
      <img src="./img/logo/logo2MWebAvecFond.png" alt="Logo" itemprop="image" />
    </a>

    <div id="menu-button" (click)="toggleMenu()" [class.open]="menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="navLink" id="liens" [class.open]="menuOpen" itemscope itemtype="https://schema.org/SiteNavigationElement">
      <app-liens (menuClose)="menuOpen = false"></app-liens>
    </div>
  </nav>

  <router-outlet> </router-outlet>

  <app-footer></app-footer>
</div>