<div class="cgv" itemscope itemtype="https://schema.org/LegalService">
  <h1 itemprop="name">Conditions Générales de Vente</h1>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">1. Champ d'application</h2>
  <p itemprop="description">Les présentes conditions générales de vente (CGV) s'appliquent à toutes les ventes de produits ou de services réalisées par {{ nameCompany }} à des clients. Les CGV régissent toutes les transactions commerciales entre nous et le client, sauf accord écrit contraire entre les parties.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">2. Commandes</h2>
  <p itemprop="description">Toutes les commandes passées par le client sont sujettes à notre acceptation. Je me réserve le droit de refuser une commande pour quelque raison que ce soit, de suspicion de fraude ou de violation des présentes CGV. En passant une commande, vous déclarez et garantissez que vous avez l'autorité légale pour conclure le contrat et que toutes les informations fournies sont exactes et complètes.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">3. Prix et paiement</h2>
  <p itemprop="description">Les prix des produits ou services sont indiqués en euro et s'entendent toutes taxes comprises, sauf indication contraire. Le paiement doit être effectué avant la réception de la commande, sauf accord écrit contraire entre les parties. Nous acceptons les modes de paiement indiqués sur notre site web ou convenus mutuellement. En cas de non-paiement, nous nous réservons le droit de suspendre la livraison ou d'annuler la commande.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">4. Livraison</h2>
  <p itemprop="description">Je m'efforce de respecter les délais de livraison indiqués, mais nous déclinons toute responsabilité en cas de retard imputable à des circonstances indépendantes de notre volonté.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">5. Droit de rétractation</h2>
  <p itemprop="description">Si vous êtes un consommateur, vous disposez d'un droit de rétractation conformément à la législation en vigueur. Veuillez vous référer à notre <a href="/politique-de-remboursement" itemprop="url">politique de remboursement</a> pour obtenir plus d'informations sur la procédure.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">6. Propriété intellectuelle</h2>
  <p itemprop="description">Tous les droits de propriété intellectuelle relatifs aux produits ou services vendus restent notre propriété. Aucun droit de reproduction, de modification ou d'utilisation des marques, logos, textes, images ou tout autre élément protégé par le droit d'auteur n'est accordé au client, sauf autorisation écrite au préalable de ma part.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">7. Limitation de responsabilité</h2>
  <p itemprop="description">Dans la mesure maximale permise par la loi applicable, je décline toute responsabilité en cas de dommages indirects, consécutifs, spéciaux, exemplaires ou punitifs découlant de l'utilisation de nos produits ou services, y compris, mais sans s'y limiter, les pertes de revenus, de bénéfices, de données ou de clientèle.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">8. Confidentialité</h2>
  <p itemprop="description">Nous respectons votre vie privée et nous engageons à protéger vos données personnelles conformément à notre politique de confidentialité. En passant une commande, vous consentez à notre collecte, notre utilisation et notre divulgation de vos informations personnelles aux fins de la transaction commerciale.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">9. Modification des CGV</h2>
  <p itemprop="description">Nous nous réservons le droit de modifier les présentes CGV à tout moment, sans préavis. Les modifications prendront effet dès leur publication sur notre site web. Il est de votre responsabilité de consulter régulièrement les CGV pour prendre connaissance des éventuelles modifications.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">10. Droit applicable et juridiction compétente</h2>
  <p itemprop="description">Les présentes CGV sont régies par les lois en vigueur en France. En cas de litige, les tribunaux compétents seront ceux du ressort des tribunaux de commerce, judiciaire, grande instance, Cour d'appel, Cour de cassation.</p>

  <h2 itemprop="headline" itemscope itemtype="https://schema.org/Thing">Contact</h2>
  <p itemprop="telephone">Numéro de Téléphone : 06-12-98-09-32</p>
  <p itemprop="email">Adresse mail : <a href="mailto:marvin.malouin@gmail.com" itemprop="email">{{ mail }}</a></p>
  <ul>
    <strong>Réseaux sociaux : </strong>
    <li><a target="_blank" href="https://www.linkedin.com/in/marvin-morin-5b15291b3/" itemprop="sameAs">LinkedIn</a></li>
    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=61566820179031" itemprop="sameAs">Facebook</a></li>
    <li><a target="_blank" href="https://www.instagram.com/2mweb_/?next=%2Fle_m_2m%2F" itemprop="sameAs">Instagram</a></li>
  </ul>
</div>
