<article class="refund-policy" itemscope itemtype="https://schema.org/WebPage">
  <header>
    <h1 itemprop="name">Politique de Remboursement</h1>
  </header>

  <section itemprop="description">
    <h2 itemprop="headline">1. Droit de Rétractation</h2>
    <p>
      Conformément à la législation en vigueur, mes clients disposent d’un délai de 5 jours à compter de la date de validation de leur commande pour exercer leur droit de rétractation sans avoir à justifier de motif ni à payer de pénalités. Pour bénéficier de ce droit, le client doit en faire la demande en me contactant directement à l’adresse e-mail suivante : 
      <a href="mailto:contact@2m-web.fr" itemprop="email">{{ mail }}</a>.
    </p>
  </section>

  <section itemprop="about">
    <h2 itemprop="headline">2. Conditions de Remboursement</h2>
    <ul>
      <li>Le remboursement est applicable uniquement aux services pour lesquels aucun travail n’a encore été effectué.</li>
      <li>Si le service commandé a été partiellement ou totalement fourni pendant le délai de rétractation, la rétractation ne pourra donner lieu à un remboursement intégral.</li>
      <li>Tout remboursement sera effectué dans un délai de 14 jours suivant la réception de la demande de rétractation, sous réserve que les conditions soient respectées.</li>
    </ul>
  </section>

  <section itemprop="about">
    <h2 itemprop="headline">3. Procédure de Remboursement</h2>
    <p>Pour exercer le droit de rétractation, veuillez m'envoyer un e-mail avec les informations suivantes :</p>
    <ul>
      <li>Nom et prénom du client</li>
      <li>Numéro du devis</li>
      <li>Description du service commandé</li>
      <li>Raison de la demande (optionnel)</li>
    </ul>
    <p>
      Je traiterais la demande dès réception et confirmera le statut du remboursement par retour d’e-mail.
    </p>
  </section>

  <section itemprop="about">
    <h2 itemprop="headline">4. Exceptions au Droit de Rétractation</h2>
    <ul>
      <li>Le droit de rétractation ne s’applique pas aux services dont l'exécution a commencé avec l’accord du client avant l’expiration du délai de rétractation.</li>
      <li>Services personnalisés réalisés sur mesure pour le client.</li>
    </ul>
  </section>

  <section itemprop="about">
    <h2 itemprop="headline">5. Contact pour les Demandes de Remboursement</h2>
    <p>
      Pour toute question sur ma politique de remboursement ou pour initier une demande, veuillez me contacter à l’adresse e-mail suivante : 
      <a href="mailto:contact@2m-web.fr" itemprop="email">{{ mail }}</a>.
    </p>
  </section>

  <footer itemscope itemtype="https://schema.org/Organization" itemprop="publisher">
    <p>Responsable : <span itemprop="name">Marvin MORIN</span></p>
    <p>Contact : <a href="mailto:contact@2m-web.fr" itemprop="email">{{ mail }}</a></p>
  </footer>
</article>
