<section id="reseauxSociaux">
    <a class="no-link-after" target="_blank" href="https://www.instagram.com/2mweb_/" ><img src="./img/reseaux-sociaux/instagram-2MWEB-agence-web.png" alt="instagram 2MWEB agence web"></a>
    <a class="no-link-after" target="_blank" href="https://www.linkedin.com/in/marvin-morin-5b15291b3/" ><img src="./img/reseaux-sociaux/linkedin-2MWEB-agence-web.png" alt="Linkedin 2MWEB agence web"></a>
    <a class="no-link-after" target="_blank" href="https://www.facebook.com/profile.php?id=61566820179031" ><img src="./img/reseaux-sociaux/facebook-2MWEB-agence-web.png" alt="Facebook 2MWEB agence web"></a>
</section>