@import "../../_variables";
@import "../../mixins";

.prestation {
  background-color: $background;
  width: 80%;
  margin: $margin-nav auto;
  padding: $padding-10 50px;
  border-radius: $border-radius;
  border: $border-1px-solid-black;

  p {
    color: $black;
    margin-bottom: 35px;
  }

  ul {
    margin: auto;

    li {
      margin: 10px auto;
    }
  }
}

h2,
h3 {
  text-align: center !important;
}

hr {
  margin-bottom: 60px;
}

p {
  color: $white;
  text-align: center;
}

form {
  margin: 50px auto $margin-footer auto;
}

@media (min-width: 1200px) {
  .prestation {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .prestation {
    padding: 5px 15px;

    article {
      margin-right: 5px;
    }
    p {
      text-align: justify !important;
    }
  }
}

@media (max-width: 600px) {
  form {
    margin: 5px auto $margin-footer-responsive auto;
  }
}
